.mdl-layout__header-row {
    background: #db4437;
}
.mdl-layout__drawer-button {
    background: #db4437 !important;
}
i.material-icons {
    color: white;
}
span.mdl-layout-title {
    color: white;
}
main.mdl-layout__content {
    background: #f5f5f5;
}
.mdl-button--fab {
    display: block;
    z-index: 9999;
    margin-top: -60px;
    left: 70px;
    min-width: 56px;
    background: rgba(219, 68, 55, 0.9);
}
.mdl-button:hover {
    background-color: #ca3125;
}
a#list1 {
    color: #db4437;
}
.dialog-profile-photo {
    border-radius: 36px;
    height: 72px;
    width: 72px;
}
.dialog-profile-name {
    font-size: 15px;
    font-weight: 400;

}
.dialog-profile-container {
    margin-top: 4px;
    margin-left: 24px;
        line-height: 22px;
}

.dialog-profile-link {
    font-size: 13px;
    color: #15c;
    text-decoration: none;
    cursor: pointer;
}
.mdl-layout__drawer.is-visible .mdl-navigation .mdl-navigation__link {
    padding-left: 40px;
}
._nghost-zfp-10 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    background: transparent;
    border-radius: inherit;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .01em;
    line-height: normal;
    outline: none;
    position: relative;
    text-align: center;
}
._nghost-zfp-51 {
    display: flex;
}
._nghost-zfp-51[reverse] {
    flex-direction: row-reverse;
}
.action-buttons._ngcontent-zfp-38 {
    color: #4285f4;
        padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 15px;
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
}
input[type="firmaadi_"]:focus,input[type="password"]:focus,input[type="telefon"]:focus{
  border-bottom: 2px solid #4285f4;
  color: #4285f4;
  transition: 0.2s ease;
}
summary#sabit::after, summary#summary_3::after {
    content: "";
}
input[type="firmaadi_"], input[type="password"]{
    text-transform: capitalize;
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    width: 50%;
    height: 32px;
    color: #757575;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.2s ease;
}
span#span_tel {
    color: #757575;
}
input[type="telefon"] {
    box-sizing: border-box;
    margin-top: 20px;
    width: 50%;
    height: 32px;
    color: #757575;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.2s ease;
}
details[open] summary {
    height: 0px;
    padding: 0;
    visibility: collapse;
}
hata1 {
    color: red;
    font-size: 13px;

}
input[type="submit"] {
  width: 100%;
    height: 33px;
  background: unset;
  border: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
  text-align: right;
      transition: 0.5s ease;

}
input[type="submit"]:hover,
input[type="submit"]:focus {
      background-color: rgba(158, 158, 158, 0.2);
  transition: 0.5s ease;
}

hr#dialog_line_1 {
    margin-top: 20px;
    margin-bottom: 0px;
}
hr#dialog2_hr {
    margin: 0;
}
.dialog-profile-email {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    font-weight: 400;
}
div#mdl-dialog-content {
    padding-left: 15px;
    display: flex;
}
.mdl-dialog#dialog1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 3px;
    top: 6%;
    left: unset;
    width: 365px !important;
    right: 2%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.modal.fade .mdl-dialog#dialog1 {
    transform-origin: right top;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.mdl-dialog#dialog1::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0);
}
.mdl-dialog#dialog1 + .backdrop { /* polyfill */
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0);
}

.mdl-layout__header .mdl-layout__drawer-button {
    margin-left: 10px !important;
}
span.mdl-layout-title {
    margin-left: 20px !important;
}
.mdl-layout__drawer {
    width: 270px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.34), 0 3px 1px -2px rgba(0,0,0,.4), 0 1px 5px 0 rgba(0,0,0,.32);
    -webkit-transform: translateX(-270px);
    transform: translateX(-270px);
    overflow-y: hidden;
}
.mdl-navigation__link .material-icons {
    margin-left: -15px;
    margin-right: 20px;
    vertical-align: middle;
}
.mdl-navigation__link {
    font-size: 12px;
    font-weight: bolder;
     transition: 0.5s ease;
}
.content {
    transition: 0.5s ease;
    opacity: 0;
    margin-left: 16px;
    margin-right: 16px;
}
bizim_firma_adi1 {
    font-size: 35px;
    font-family: serif;
    color: #212121;
}
li#firma_adi_value, li#adres_value:first-letter {
    text-transform: capitalize;
}

bizim_firma_adi2 {
    font-family: sans-serif;
    font-size: 35px;
    color: #212121;
    font-weight: bold;
}
hgroup { 
	text-align:center;
	margin-top: 25px;
    margin-bottom: 5px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}
div#progress {
    width: 100%;
    height: 7px;
    left: 270px;
}
input#kaydet_dialog, input#iptal_dialog {
    text-align: center;
    height: 45px;
    padding: 0;
    color: #4285f4;
}
html, body {margin:0; padding:0; width:100%; height:100%; overflow:hidden;}
body{
        font-family: 'Roboto', sans-serif;
}
/**/
     

        html, body, ul, ol {
            margin: 0;
            padding: 0;
        }

        html>body {
            font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
            background-color: #eeeeee;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            text-rendering: optimizeLegibility;
            -webkit-text-rendering: optimizeLegibility;
        }
        h1{
           font-weight: 400;
           color: #999;
           font-size: 18px;
           margin: 48px 0 12px 22px;
        }
        div.panel{
            max-width: 75%;
            margin: auto;
            margin-top: calc(5% - 0px);
        }
hata1#hata2 {
    display: block;
}
input#kaydet_dialog_konum, input#iptal_dialog_konum {
    height: 45px;
}
h1#harita_bilgi {
        color: #615f5f;
    margin-bottom: 20px;
        margin-left: 0px;
    margin-top: 40px;
    text-align: center;
}
div#map {
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
dialog#dialog2 {
    transition: ease 0.5s;
    padding: 0;
    top: 84px;
    left: 240px;
    display: block;
    width: 400px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
dialog#dialog3 {
    transition: ease 0.5s;
    padding: 0;
    top: 84px;
    left: 240px;
    display: block;
    width: 40%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
.croppie-container .cr-boundary {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
dialog#dialog2:not([open]),dialog#dialog3:not([open]) {
    display: none;
}
img#profile_photo {
    margin: auto;
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    border-radius: 100px;
}
        details{
            transition: ease 200ms, opacity 200ms ease, transform 200ms ease;
            background:#fff;
            border-bottom:1px solid #e0e0e0;
              box-shadow:0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
            display:flex; }

        input#iptal_1,  input#kaydet_1, input#kaydet_2, input#iptal_2 ,input#kaydet_3, input#iptal_3, input#iptal_2_1, input#kaydet_2_1,input#iptal_dialog_konum,input#kaydet_dialog_konum{
        color: #4285f4;
        width: 88px;
        text-align: center;
        float: right;}
        
        input#kaydet_1:hover {
        background-color: rgba(66, 133, 244, 0.2);}

        input#iptal_1:hover {
        background-color: rgba(66, 133, 244, 0.2);}

        buttons {
        flex-direction: row-reverse;
        display: flex;}

        details[open]{
            margin-top:16px;
            margin-bottom:16px;
            border:none;
            border-radius: 2px;


        }
        details[open]:first-child{
            margin-top:0;
            margin-bottom:16px;
            border:none;
        }
        details[open]:last-child{
            margin-top:16px;
            margin-bottom:0px;
            border:none;
        }

        summary{
            outline:none;
            cursor: pointer;
            padding: 16px 24px;
            color:#212121;
            position: relative;
            font-size: 15px;
            list-style: none;
        }
        summary:hover{
            background:#eeeeee;
        }

        details[open] summary:hover{
            background:none;
        }
        
        .inner_content{
            padding: 16px 24px;
            list-style: none;    
            align-items: center;
            display: block;
            margin-top: 6px;
        }

        ul {
            padding-left: 0;
            list-style: none;
            display: -webkit-flex;
            display: flex;
            align-items: center;
        }
        ul li{
             flex: 1 100%;
             flex-flow: row wrap;
        }
        ul li span{
              display: block;
              font-size: 12px;
              margin-top: 6px;
              opacity: .75;
        }
        summary::-webkit-details-marker {
            display: none;
        }
        summary::after {
            content: "create";
            font-family: 'Material Icons';
            color: #9e9e9e;
            font-size: 1.5em;
            padding: 0;
            text-align: center;
            margin-top: 0;
            position: absolute;
            top: calc(50% - 12px);
            bottom: 0;
            right: 5px;
            width: 6%;
        }  
summary#konum::after {
            content: "my_location";
            
        }  
        .titleValue{ color: #757575; }  