.mdl-layout__header-row {
    background: #db4437;
}
.mdl-layout__drawer-button {
    background: #db4437 !important;
}
i.material-icons {
    color: white;
}
span.mdl-layout-title {
    color: white;
}
main.mdl-layout__content {
    background: #f5f5f5;
}
a#list1 {
    color: #db4437;
}
.mdl-dialog {
    border-radius: 3px;
    top: 7%;
    width: 25% !important;
    left: 69%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.modal.fade .mdl-dialog {
    transform-origin: right top;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.mdl-dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0);
}
.mdl-dialog + .backdrop { /* polyfill */
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0);
}

.mdl-layout__header .mdl-layout__drawer-button {
    margin-left: 10px !important;
}
span.mdl-layout-title {
    margin-left: 20px !important;
}
.mdl-layout__drawer {
    width: 270px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.34), 0 3px 1px -2px rgba(0,0,0,.4), 0 1px 5px 0 rgba(0,0,0,.32);
    -webkit-transform: translateX(-270px);
    transform: translateX(-270px);
    overflow-y: hidden;
}
.mdl-navigation__link .material-icons {
    margin-left: -15px;
    margin-right: 20px;
    vertical-align: middle;
}
.mdl-navigation__link {
    font-size: 12px;
    font-weight: bolder;
}
.content {
    margin-left: 60px;
}
bizim_firma_adi1 {
    font-size: 35px;
    font-family: serif;
    color: #212121;
}

bizim_firma_adi2 {
    font-family: sans-serif;
    font-size: 35px;
    color: #212121;
    font-weight: bold;
}
hgroup { 
	text-align:center;
	margin-top: 25px;
    margin-bottom: 5px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}
html, body {margin:0; padding:0; width:100%; height:100%; overflow:hidden;}