@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}
html, body {margin:0; padding:0; width:100%; height:100%; overflow:hidden;}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
  margin: 0;
  padding: 0;
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media screen and (max-height:948px) {
#login-box {
      -moz-transform: scale(0.85);
   -webkit-transform: scale(0.85);
   -o-transform: scale(0.85);
   transform: scale(0.85);
  }
    
}

hata1, hata2, hata3, hata4, hata5, hata6 {
    color: red;
    margin-left: 4px;
    font-size: 13px;

}

#background{position:absolute; z-index:1; width:100%; height:100%;}

hgroup { 
	text-align:center;
	margin-top: 80px;
	  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
bizim_firma_adi1 {
    font-size: 60px;
    font-family: serif;
    color: rgba(250, 250, 250, 0.7);
}

bizim_firma_adi2 {
    font-family: sans-serif;
    font-size: 60px;
    color: rgba(250, 250, 250, 0.7);
    font-weight: bold;
}

#login-box {
  width: 470px;
  margin: 0px auto;
  background: #FFF;
  height: 490px;
  position: absolute;
  left:50%;
  top:50%;    
  margin-left: -235px;
  margin-top:-200px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
	  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

h10#verification_content {
    font-weight: 400;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 28px;
  font-weight: bolder;
}

input[type="text"],
input[type="password"],
input[type="email"]{
  display: block;
  box-sizing: border-box;
  padding: 4px;
  width: 380px;
  height: 32px;
  border: none;
  margin-top: 15px;  
  margin-bottom: 1px;    
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.verification {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    margin: 50px;
    padding: 40px;
    position: absolute;
    opacity: 0;
}

input#firma_adi_id {
    text-transform: capitalize;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
  border-bottom: 2px solid #4285f4;
  color: #4285f4;
  transition: 0.2s ease;
}

input[type="submit"] {
  width: 88px;
  height: 36px;
  background: #4285f4;
  border: none;
  border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  color: #FFF;
      font-family: 'Roboto', sans-serif;

    font-weight: bolder;
font-size: 17px;
  cursor: pointer;
      margin-left: 290px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
